:root {
  /* Canva.com Ice Infinity */
  --background: #d9e4ec;
  --sections: #b7cfdc;
  --headings: #6aabd2;
  --darkblue: #385e72;
}

* {
  /* margin: 0; */
  font-family: "Tahoma", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
    background-color: var(--background);
}

h1 {
  background-color: var(--headings);
}

p {
  height: 100%;
}

.pageLinks:hover {
  background-color: var(--sections);
  text-decoration: none;
  color:black;
}

.pageLinks {
  text-decoration: none;
  color:black;
}

button {
  background-color: white;
  border-radius: 7px !important;
}

button:hover {
  background-color: var(--sections);
  border-radius: 7px !important;
}